/*************** TAG SELECTORS *************/

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', 'serif';
}

h1 {
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', 'cursive';
  font-size: 562.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bold;
  line-height: 4;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: #EAF6F6;
border-width: 8px;
height: 0px;
width: 5%;
margin: 10 10 10 10;
}

div {

}

p {
  color: #40514E;
}


/*************** CLASS SELECTORS *************/
.avatar {
  position: relative;
  padding-top: 60px;
  border-radius: 20px;
}

.top-container {
  position: relative;
  padding-top: 80px;
  background-color: #EAF6F6;
}

.middle-container {
 background-color: white;
}

.bottom-container {
background-color: #66BFBF;
width: auto;
height: 150px;
margin: auto;
}

.bottom-cloud {
  position: relative;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.footer-link {
  text-decoration-color: : #11999E;
  text-align: center;
  position: relative;
  top: 70px;
}

.button {
backface-visibility: hidden;
position: relative;
bottom: 5px;
cursor: pointer;
display: inline-block;
white-space: nowrap;
background: linear-gradient(180deg,#aee 0%,#8cc 49%,#599 51%,#8cc 100%);
border-radius: 5px;
border: 1px solid #58c1cd;
border-width: 1px 1px 1px 1px;
padding: 10px 20px 10px 20px;
box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  color: #fff;
font-size: 16px;
font-family: Helvetica Neue;
font-weight: 900;
font-style: normal;
text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
}
.button > div {
  color: #999;
font-size: 10px;
font-family: Helvetica Neue;
font-weight: initial;
font-style: normal;
text-align: center;
margin: 0px 0px 0px 0px
}
.button > i {
  font-size: 1em;
border-radius: 0px;
border: 0px solid transparent;
border-width: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
position: static
}
.button > .ld {
  font-size: initial
}



/*************** ID SELECTORS *************/
